<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>       <!--TODO AddView    create a form that uses the category object-->
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}"> Default title</h1>
<form th:object="${category}" method="post">
    <div class="form-group">
        <label th:for="name">Category Name: </label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <input type="submit" value="Add category"/>
</form>


</body>
</html>