<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Cheeses</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments::navigation"></nav>

    <form method="post" style="max-width:600px;" th:object="${menu}">

            <div class="form-group">
                <label th:for="name">New Menu Name</label>
                <input class="form-control" th:field="*{name}" />
                <span th:errors="*{name}" class="error"></span>
            </div>

            <input type="submit" value="Create Menu"/>
    </form>
<!--<nav th:fragment="navigation">
    <a href="/cheese">List</a> |
    <a href="/cheese/add">Add</a> |
    <a href="/cheese/remove">Remove</a>
    <a href="/category">Category</a>
</nav>-->

</body>
</html>